*{
    overflow:hidden;
    box-sizing:border-box;
    padding:0;
    border:0;
    background-color:black;
}
h3{
	text-align:center;
	margin-top:8px;
	color:white;
}
.grid {
	margin:auto;
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
}
  
.grid div {
    width: 20px;
    height: 20px;
}

.food {
   background:url(resources/food.png);
  background-size:100%;
}

.wall {
    background:url(resources/wall.jpeg) ;
    background-size:95%;
}

.pill {
    background:url(resources/pill.gif);
    background-size:110%;
}

.pac {
    background:url(resources/pac.gif);
    background-size:95%;
}

.g1 {
    background:url(resources/g1.png);
    background-size:95%;
}

.g2 {
    background:url(resources/g2.png);
    background-size:95%;
}

.g3 {
    background:url(resources/g3.png);
    background-size:95%;
}

.g4 {
    background:url(resources/g4.png);
    background-size:95%;
}

.scared-ghost {
    background:url(resources/gr.png);
    background-size:95%;
}
